.background_news {
	max-width: 900px;
	width: 100%;
	margin: 0 auto;
}

.background_news h1 {
	text-align: center;
	padding-top: 52px;
	padding-bottom: 40px;
}

.text_color {
	font-weight: 500;
	font-size: 28px;
	line-height: 33px;
	color: #0F79CE;
	margin-bottom: 20px;
}

.button_readMore {
	margin-top: 31px;
	margin-bottom: 50px;
	font-size: 21px;
	max-width: 414px;
	width: 100%;
}

.border {
	border: 1px solid #CCD5DE;
	max-width: 956px;
	width: 100%;
	margin: 0 auto;
}

.content_news-double {
	margin-top: 64px;
}

.content_news-double .text_color {
	margin-top: 58px;
}

.a_news {
	background: #2287d4;
	padding-left:  16px;
	padding-right: 16px;
}

.content_news-double .button_watch {
	width: 261px;
	margin: 25px auto 0  to;
}

@media screen and (max-width: 1000px) {

	.content_news p , .content_news-double p{
		padding: 0 60px;
		box-sizing: border-box;
	}

}

@media screen and (max-width: 768px) {
	.a_news{
		padding: 20px 0;
		background: #4c545d;
	}
}

@media screen and (max-width: 500px) {
	.content_news p, .content_news-double p {
    	padding: 0 30px;
    	font-size: 18px;
    	line-height: 27px;
	}

	.background_news h1 {
		padding-bottom: 10px;
	}

	.button_readMore {
		max-width: 301px;
		width: 100%;
		font-size: 18px;
	}

}

	
